{% extends "bootstrap/base.html" %}
{% block title %}DocSend Scraper - Beta{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container">
  <h3 align=center>DocSend Scraper (Beta)</h3>
  <div class="progress">
    <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Link:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="url" placeholder="enter link, i.e. https://docsend.com/view/p8jxsqr" name="url" oninvalid="this.setCustomValidity('Please enter a valid docsend link')" oninput="setCustomValidity('')" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Email Address:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="emailad" placeholder="enter email if needed ..." name="emailad">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Docsend Password:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="emailpass" placeholder="enter password if needed ..." name="emailpass">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary btn-med" id="load" data-loading-text="Scraping, every slide takes 3 seconds so your download will begin shortly!">Scrape</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
{{super()}}

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
  <script type="text/javascript" src="static/js/application.js"></script>

{% endblock %}
